  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom">
      <h8 class="display-12 navbar-text" style="color: white;">&copy; Copyright 2023. All Rights reserved.</h8>
      <a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/aileenshieldsalcedo/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
    </nav>
</footer>
