<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg">
  <div class="navbar-left">
    <img class="logo" src="/Assets/images/logo.png" alt="Logo" width="80" height="60">
  </div>

    <div class="navbar-right">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <li class="nav-item <%= title === 'Active Surveys' ? 'active' : '' %>">
          <a class="nav-link" aria-current="page" href="/survey/active_surveys">
            <button class="button"> Active Surveys </button>
          </a>
        </li>

        <% if (title === "Home" || title === "/") { %>
          <li class="nav-item active">
        <% } else { %>
          <li class="nav-item">
        <% } %>
          <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-house-fire"></i> Home </a>
        </li>

        <ul class="navbar-nav">
          <% if(typeof firstName == 'string' && firstName) { %>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= firstName+' '+lastName %></li>
            <li class="nav-item"><a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
          <% } %>
        </ul> 
      </div>
    </div>
  </div>
</nav>