<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg">
  <div class="navbar-left">
    <img class="logo" src="/Assets/images/logo.png" alt="Logo" width="80" height="60">
  </div>

  <div class="container-fluid text-center">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offset-md-4 col-md-2 text-center">
      <!-- Message Area -->
      <% if (successMessage && successMessage.length > 0) { %>
          <div class="alert alert-success alert-message">
            <%= successMessage %>
          </div>
        <% } %>
        
        <% if (errorMessage && errorMessage.length > 0) { %>
          <div class="alert alert-danger alert-message">
            <%= errorMessage %>
          </div>
        <% } %>
    </div>

      <div class="navbar-left" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if (title === "Active Surveys") { %>
            <a href="/survey/create">
              <button class='glowing-btn'><span class='glowing-txt'>C<span class='faulty-letter'>R</span>EAT<span class='faulty-letter'>E</span></span></button>
            </a>
            <% } else { %>
          <li class="nav-item <%= title === 'Active Surveys' ? 'active' : '' %>">
            <a class="nav-link" aria-current="page" href="/survey/active_surveys">
              <button class="button"> Active Surveys </button>
            </a>
            <% } %>
          </li>

          <% if (title === "Home" || title === "/") { %>
          <% } else { %>
            <a class="nav-link nav-item" aria-current="page" href="/home"><i class="fa-solid fa-house-fire"></i> Home </a>
          <% } %>
            
          </li>

          <% if(typeof firstName == 'string' && firstName) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="answeredSurveysDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-lg fa-user"></i> Welcome, <%= firstName + ' ' + lastName + '  ' %>
              </a>
              <div class="dropdown-menu" aria-labelledby="answeredSurveysDropdown">
                <a class="dropdown-item answered-surveys-item" href="/survey/answered_surveys">
                  <i class="fa-solid fa-clipboard-list text-white"></i> My Answered Surveys
                </a>
              </div>
            </li>
          <li class="nav-item"><a href="/logout" class="nav-link">
              <i class="fa-solid fa-sign-out"></i> Logout</a>
          </li>
          <% } else { %>
            <% if (title === "Login" || title === "Active Surveys") { %>
              <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
              <% } %>
          <% } %>
        </ul> 
      </div>
  </div>
</nav>