<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  <!--Main Navigation-->
<!-- about section starts -->
<section class="about" id="about">
  <h1 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h1>

<div class="box">
  <div class="video-container">
      <iframe width="660" height="415" src="https://app.heygen.com/embeds/254447b5ea044bd98becfea4ed4d0c73" title="HeyGen video player" frameborder="0" allow="encrypted-media; fullscreen;" allowfullscreen></iframe>
  </div>
</div>
  <div class="row">
  <div class="content">
      <h3>Aileen Shield Gaddi Salcedo</h3>
      <p>I attend Centennial College as a student majoring in Software Engineering Technology.</p>
      <p>I am learning how to programme and create websites and applications.</p>
      
      <div class="resumebtn">
          <a href="https://drive.google.com/file/d/1AWHaTe9rKgj40K0a6MyZVccdt6j73ftC/view?usp=sharing" target="_blank" class="btn"><span>Resume</span>
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>

  </div>
  </div>
</section>
<!-- about section ends -->

  <!--Script section -->
  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>