<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
  <!--Main Navigation-->

  <!-- education section starts -->
    <section class="education" id="education">
        <img draggable="false" class = "image" src="/Assets/images/education.png" alt="Education Image" style="width: 200px; height: auto">
        <p class="qoute">“What we learn with pleasure we never forget.” - Alfred Mercier</p>
        <div class="box-container">
        <div class="box">
        <div class="image">
        <img draggable="false" src="Assets/images/college2.png" width="550" height="300" salt="Centennial College">
        </div>
        <div class="content">
        <h4>Advanced Diploma in Software Engineering Technology</h4>
        <h6>Centennial College Progress Campus | Scarborough, Ontario</h6>
        <h7>Jan 2023 - April 2024 | Attending</h7>
        </div>
    </div>

    <div class="box">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c9awuiKUVi8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="content">
        <h4>Bachelor of Science in</h4>
        <h4>Electronics and Communications Engineering</h4>
        <h6>Saint Louis University | Baguio City, Philippines</h6>
        <h7>2001-2006 | Graduated</h7>
        </div>
    </div>

    </div>
    </section>

<!-- education section ends -->

  <!--Script section -->
  <%- include ('partials/bottom_nav.ejs') %>

  <%- include ('partials/footer.ejs') %>