/*File name: Assignment2
Student’s Name: Aileen Salcedo
StudentID: 301308843
// COMP229 - Web Application Development ->
// First Release - Survey Site ->

/* custom css goes here */

body {
  background-image: url("/Assets/images/background.png");
  background-repeat: repeat;
  background-size: cover;
  color: white;
}

.h8 {
  font-size: 1.7rem; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-left: 10px; /* Add some spacing between navigation items */
  margin-right: 10px;
}

.nav-link,
.navbar-text {
  color: white; /* Set the default color for the navigation links */
  text-decoration: none;
}

.nav-item.active {
  font-weight: bold;
  color: rgb(240, 218, 227); /* Adjust the color as needed */
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(174, 65, 112); /* Adjust the color as needed */
  text-decoration: none;
}

.navbar-right {
  flex: 0 0 auto;
  text-align: right;
}

.button {
  background-color: rgb(174, 65, 112);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}
@keyframes glowing {
  0% {
    background-color: rgb(174, 65, 112);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(174, 65, 112);
  }
}
.button {
  animation: glowing 1300ms infinite;
}


.button:hover {
  background-color: rgb(39, 32, 32);
  color: rgb(174, 65, 112);
  /* Add any additional hover styles */
}

.home,
.about,
.login,
.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.image,
.video-container,
.contact-form,
.myVideo {
  margin-top: 40px;
  margin-bottom: 30px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* glowing button - CREATE */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .glowing-btn{
    font-size: 1em;
  }
}

/* LOGIN */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: black;
	border-radius:3px;
	padding:50px 80px;
  opacity: 90%;
}
.input-container{
	position:relative;
	margin-bottom:25px;
  margin-top: 20px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
  
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:rgb(174, 65, 112);
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:20px;
	border-radius:10px;
	cursor:pointer;
	position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}

.allsurvey-box{
	position:absolute;
	left:50%;
	top:65%;
	transform: translate(-50%,-50%);
    background-color: black;
	border-radius:3px;
}

.scrollbar {
  width: 90%;
  height: 70%;
  overflow: auto;
  padding:50px 80px;
}

.create-box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: black;
	border-radius:3px;
}

/* Scrollbar */

.scrollbar2 {
  width: 70%;
  height: 80%;
  overflow: auto;
  padding:50px 80px;
}
/*       ScrollBar 1        */

#scrollbar1::-webkit-scrollbar {
  width: 16px;
}

#scrollbar1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: rgb(174, 65, 112);
}

/* Message Area */

.alert-message {
  animation-name: fadeOut;
  animation-duration: 5s; /* Duration should match the desired delay */
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.custom-col-width {
  width: 12%;
}

.table {
  border-collapse: collapse;
  border: 1px solid white;
}
.th, .td {
  border: 1px solid white;
  padding: 8px;
}