<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

  <!--Main Navigation-->
<!-- about section starts -->
<section class="about" id="about">
  <h1 class="heading"><i class="fas fa-user-alt"></i> About <span>Page</span></h1>

<div class="box">
  <div class="video-container">
    <img draggable="false" class = "image" src="/Assets/images/workinprogress-nobg.png" alt="Under Construction Image" style="width: 600px; height: auto">
  </div>
</div>
  <div class="row">
  <div class="content">
      <p>text here</p>

  </div>
  </div>
</section>
<!-- about section ends -->

   <!--Script section -->
   <%- include ('../partials/bottom_nav.ejs') %>
   <%- include ('../partials/footer.ejs') %>